.container {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90vw;
  margin: 0 auto;
}

.left,
.right {
  grid-row: 1/2;
}

.left {
  grid-column: 1 / 3;
  align-self: center;
  color: #000;
  z-index: 2;
}

.right {
  grid-column: 2/5;
  background-color: brown;
}
