@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

*::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* cursor: none; */
  /* overflow-x: hidden; */
  background-color: rgb(246, 241, 236) !important;
  font-family: "Playfair Display", serif !important;
}
